@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Montserrat", sans-serif;
}

.header {
    margin: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header__icons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header__search {
    position: absolute;
    left: 2rem;
}

.header__icons__left {
    position: absolute;
    right: 2rem;
}

.nav__list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--card {
    width: 90%;
    display: flex;

    color: white;
    background-color: #2A244B;
}

.section--card__text_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 20px;
}

.section--card__text {
    position: absolute;
    bottom: 3rem;
}

.section--card__button {
    padding: 20px;
    border: none;
    color: white;
    background-color: #494465;
    width: fit-content;
}

.section--diff {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section--diff__container {
    display: flex;
    align-items: center;
}


.section--cards {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section--cards__container {
    display: flex;
    gap: 30px;
}

.card {
    width: 305px;
}

.section--cards__button {
    padding: 20px;
    border: none;
    color: #2A254B;
    background-color: #F9F9F9;
    width: fit-content;
}

.button {
    cursor: pointer;
}



.footer {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #2A244B;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}